<div class="texto" id="nuevo">
    <div id="form">
    <%= form_for @line do |f| %>
        <br>
        <p>¿Cuál es tu nombre?:</p>
        <%= f.text_field :name %><br><br>       
        <%= f.submit 'Juguemos'%>        
    <%end%>
    </div>
</div>