<script>
class Frame{ 
  constructor(){
    this.pines = [];
    this.firstShoot = [];
    this.secondShoot = [];
    this.thirdShoot = [];
    this.moving=true;
    this.lanzar();
  }

  restart(self){  
    self.pines=[]
    
    $('#ball').hide().animate({
      "left": 450,
      "top": 600
    }, 1000); 
    $('#ball').show()
    //setTimeout(() => self.resetScreen(), 2000)  
  }
  
  rolls(array_pines,self){  
    console.log("rolls") 
   
   if (self.firstShoot.length==0){
      self.firstShoot.push(array_pines.length)    
      console.log("roll_1:" + self.firstShoot)
      $("p1").html(self.firstShoot);      
      console.log(self.pines) 
      if (self.firstShoot==10) {
        self.secondShoot.push(0); 
        self.thirdShoot.push(0); 
        $("p4").html("STRIKE");
        $("#message").css({backgroundColor:'yellow'}); 
        Linea.nuevoFrame();
      } else{
        $("p4").html("Continua..");
        self.restart(self)}
    }
    else if (self.firstShoot.length==1){
      self.secondShoot.push(array_pines.length)   
      console.log("roll_2:" + self.secondShoot)  
      self.thirdShoot.push(0);
      console.log(self.pines)     
      $("p2").html(self.secondShoot); 
        if ((self.firstShoot+self.secondShoot)==10 ){
          $("p4").html("SPARE");
          $("#message").css({backgroundColor:'yellow'});  
        }  else{
          $("p4").html("Será la próxima");
          $("#message").css({backgroundColor:'aqua'});  
        }
        //self.restart(self) 
        self.nuevoFrame();        
      }else{
      console.log("nothing")
      }

  }

  nuevoFrame(){
    console.log("prueba")
  }

  lanzar(){
    var bola = $("#ball");    
    bola.click((e) => {      
      bola.animate({
        "left": 80+Math.random()*520, 
        "top": 80
      }, 1000) 
      setTimeout(() => this.checkPines(this), 100)
      setTimeout(() => this.updateLane(this), 1000)     
    });
  }

  updateLane(self) {
    var arr=[]
    for ( var i = 0, l = self.pines.length; i < l; i++ ) {
      var hide_pin=this.pines[ i ]
      $('#'+hide_pin).hide(); 
      var num_pin=(hide_pin.split("_"))[1]
      arr.push(num_pin)    
    } 
    var array_pines=arr
    array_pines=[...new Set(array_pines)]    
     
    console.log("updatelane: " +array_pines)     
    
    self.rolls(array_pines,self)//funcion para realizar el calculo de pines y score   
  }

  checkPines(self){    
    $('.pin').each(function(i, pin){    
        self.pegar('#ball',$(pin))
      });
    if (self.moving){
      setTimeout(() => self.checkPines(self), 100)
    }
  }

  pegar(ball, pin){    
    var ball = $(ball);
    var pin = $(pin);    
      
    var ball_x = ball.offset().left; //Posición horizontal de la bola
    var ball_y = ball.offset().top; //Posición vertical de la bola
    var ball_w = ball.width(); //Ancho de la bola    
    var ball_h = ball.height(); //Altura de la bola
  
    var pin_x = pin.offset().left;//Posición horizontal del pin
    var pin_y = pin.offset().top;//Posición vertical del pin
    var pin_w = pin.width(); //Ancho del pin
    var pin_h = pin.height(); //Altura del pin

    if( ball_y+ball_h < pin_y ||
        ball_y > pin_y+pin_h ||
        ball_x > pin_x+pin_w ||
        ball_x+ball_w < pin_x ){          
        return false;
    }else{
        pin=pin.attr("id")        
        this.pines.push(pin)
        this.pines=[...new Set(this.pines)] 

        return true; 
    }    
  }


  resetScreen() {    
    console(prueba.pines)
    $('#pin_1').show(); 
    $('#pin_2').show(); 
    $('#pin_3').show(); 
    $('#pin_4').show(); 
    $('#pin_5').show(); 
    $('#pin_6').show(); 
    $('#pin_7').show(); 
    $('#pin_8').show(); 
    $('#pin_9').show(); 
    $('#pin_10').show(); 
    $('#ball').show();     
  }
}
//----------------------------------end frame class

class Linea{ 
  constructor(){
    this.score = [];
    this.primerFrame();
  }

  primerFrame(){  
    var prueba = new Frame()    
    console.log("hola")  
  }
  nuevoFrame(){
    console.log("nuevo frame")
    var nuevo = new Frame() 
  }
}





function esconder() {
  $('#pin_1').hide(); 
  $('#pin_2').hide(); 
  $('#pin_3').hide(); 
  $('#pin_4').hide(); 
  $('#pin_5').hide(); 
  $('#pin_6').hide(); 
  $('#pin_7').hide(); 
  $('#pin_8').hide(); 
  $('#pin_9').hide(); 
  $('#pin_10').hide(); 
  $('#ball').hide();     
}

</script>

<center>
<div id="lanzar" >  
  <div id="simul">
  <button id="ball"><img class="ball" src='http://www.i2clipart.com/cliparts/7/9/e/1/clipart-bola-de-vidro-glass-ball-256x256-79e1.png'/></button>
    <div id="grupo">
      <div id="pin_10" class="pin">10</div>
      <div id="pin_9" class="pin">9</div>
      <div id="pin_8" class="pin">8</div>
      <div id="pin_7" class="pin">7</div>
      <div id="pin_6" class="pin">6</div>
      <div id="pin_5" class="pin">5</div>
      <div id="pin_4" class="pin">4</div>
      <div id="pin_3" class="pin">3</div>
      <div id="pin_2" class="pin">2</div>
      <div id="pin_1" class="pin">1</div>

    </div>
  </div>
  <div id=caja>
    <p>Primer turno<p>
    <p1> 0<p1> 
    <p>Segundo turno<p>
    <p2> 0<p2> 
    <p>score<p>
    <p3> 0<p3> 
    <div id=message>
    <p>Message<p>
    <p4><p4> 
    </div>
    
  </div>
  
  
</div>
</center>

<script>  
  var my_line = new Linea()  
</script>




